@model GameStore.Application.Commands.Order.CreateOrder.CreateOrderCommand

@{
    ViewData["Title"] = "Checkout";
}

<div class="row">
    <div class="container">
        <h1 class="display-4">Checkout</h1>
        <hr />
        <div class="col-md-4">
            <form asp-action="Checkout">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Line1" class="control-label"></label>
                    <input asp-for="Line1" class="form-control" />
                    <span asp-validation-for="Line1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Line2" class="control-label"></label>
                    <input asp-for="Line2" class="form-control" />
                    <span asp-validation-for="Line2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Line3" class="control-label"></label>
                    <input asp-for="Line3" class="form-control" />
                    <span asp-validation-for="Line3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Zip" class="control-label"></label>
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="GiftWrap" />
                        @Html.DisplayNameFor(model => model.GiftWrap)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
