@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="text-center display-4">@ViewData["Title"]</h1>
<div class="container">
    <hr />
    <div>

        <div>
            <article>
                <div>
                    <h2>What is a cookie?</h2>
                    <p>A cookie is a small piece of data that a website asks your browser to store on your computer or mobile device.
                        The cookie allows the website to "remember" your actions or preferences over time.</p>
                    <p>Most Internet browsers support cookies; however, users can set their browsers to decline certain types of
                        cookies or specific cookies. Further, users can delete cookies at any time.</p>
                    <h2>Why do we use cookies?</h2>
                    <p>We use cookies to learn how you interact with our content and to improve your experience when visiting our
                        website(s). For example, some cookies remember your language or preferences so that you do not have to
                        repeatedly make these choices when you visit one of our websites.
                        We may employ the learnings of your behavior
                        on our website(s) to serve you with targeted advertisements on third-party website(s) in an effort to
                        “re-market” our products and services to you.</p>
                    <h3>Session Cookies</h3>
                    <p>Session cookies are temporary cookies that are used to remember you during the course of your visit to the
                        website, and they expire when you close the web browser.</p>
                    <p>Although we do not use cookies to create a profile of your browsing behavior on third-party sites, we do
                        use aggregate data from third parties to show you relevant, interest-based advertising. We do not provide
                        any personal information that we collect to advertisers. You can opt
                        out of off-site and third-party-informed advertising by adjusting your cookie settings. Opting out will
                        not remove advertising from the pages you visit, but, instead, opting out will result in the ads you see 
                        not being matched to your interests. This implies that the ad(s) you
                        see will not be matched to your interests by those specific cookies.</p>
                    <h2>How are third party cookies used?</h2>
                    <p>For some of the functions within our websites we use third party suppliers, for example, when you visit
                        a page with videos embedded from or links to YouTube. These videos or links (and any other content from
                        third party suppliers) may contain third party cookies, and we encourage
                        you to consult the privacy policies of these third party vendors on their websites for information
                        regarding their use of cookies.</p>
                    <h2>How do I reject and delete cookies?</h2>
                    <p>You can choose to reject or block all or specific types of cookies set by virtue of your visit to a
                        GameStore website by clicking on the cookie preferences on our website(s). You can change your preferences
                        for GameStore websites and/or the websites of any third party suppliers by changing
                        your browser settings. Please note that most browsers automatically accept cookies. Therefore, if you do 
                        not wish cookies to be used, you may need to actively delete or block the cookies. If you reject the use 
                        of cookies, you will still be able to visit our websites but some of the
                        functions may not work correctly. By using our website without deleting or rejecting some or all cookies,
                        you agree that we can place those cookies that you have not deleted or rejected on your device.</p>
                </div>
            </article>
        </div>
    </div>
</div>
